src/test/resources/automation-test-flows.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:alfresco="http://www.mulesoft.org/schema/mule/alfresco" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.6.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"

	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
http://www.mulesoft.org/schema/mule/alfresco http://www.mulesoft.org/schema/mule/alfresco/current/mule-alfresco.xsd"
>

<context:property-placeholder location="automation-credentials.properties" />

<alfresco:config-type username="${alfresco.username}" password="${alfresco.password}" serverUrl="${alfresco.serverUrl}" name="Alfresco" doc:name="Alfresco"></alfresco:config-type>

<flow name="get-child-authorities-for-group" doc:name="GetChildAuthoritiesForGroup">
	<alfresco:get-child-authorities-for-group config-ref="Alfresco" shortName="#[flowVars.shortName]"  authorityType="#[flowVars.authorityType]" />
</flow>


</mule>
